<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Invoices - Kisbis Food Industry</title>
		<%- include('../partials/css'); %>
	</head>

	<body>
		<%- include('../partials/preloaded'); %>

		<!--**********************************
        Main wrapper start
    ***********************************-->
		<div id="main-wrapper">
			<%- include('../partials/header'); %> <%-
			include('../partials/sidebar'); %>

			<!--**********************************
            Content body start
        ***********************************-->
			<div class="content-body">
				<div class="container-fluid">
					<div class="row page-titles mx-0">
						<div class="col-sm-6 p-md-0">
							<div class="welcome-text">
								<h4>Invoices</h4>
							</div>
						</div>
					</div>
					<!-- row -->

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<table
											border="0"
											cellspacing="5"
											cellpadding="5"
											width="100%"
											style="text-align: center"
										>
											<tbody>
												<tr>
													<td>
														Start date:
														<input
															type="date"
															id="min"
															name="min"
														/>
													</td>
													<td>
														End date:
														<input
															type="date"
															id="max"
															name="max"
														/>
													</td>
												</tr>
											</tbody>
										</table>
										<br />
										<br />
										<table
											id="example"
											class="display"
											style="width: 100%"
										>
											<thead>
												<tr>
													<th>#</th>
													<th>Party Name</th>
													<th>Invoice Date</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<% for(var i=0; i <
												invoice.length;i++) { %>
												<tr>
													<td><%= i + 1 %></td>
													<td>
														<%=
														invoice[i].party_name %>
													</td>
													<td>
														<%=
														invoice[i].order_date %>
													</td>
													<td>
														<span>
															<a
																href="/invoice/edit/<%= invoice[i]._id %>"
																class="mr-4"
																data-toggle="tooltip"
																data-placement="top"
																title="Edit"
																><i
																	class="
																		fa
																		fa-pencil
																		color-muted
																	"
																></i>
															</a>
															<a
																href="/invoice/delete/<%= invoice[i]._id %>"
																data-toggle="tooltip"
																data-placement="top"
																title="Make Inactive"
																><i
																	class="
																		fa
																		fa-close
																		color-danger
																	"
																></i
															></a>
															&nbsp;&nbsp;&nbsp;&nbsp;
															<!-- button for confirm to send update to party -->
															<%
															if(invoice[i].phone_number
															&&
															invoice[i].phone_number.length
															>= 10) { %>
															<a
																href="/invoice/confirm/<%= invoice[i]._id %>"
															>
																<button
																	type="button"
																	class="
																		btn
																		btn-success
																		btn-sm
																	"
																>
																	<i
																		class="
																			fa
																			fa-check
																		"
																	></i>
																	Send Bill
																</button>
															</a>
															<% } %>
														</span>
													</td>
												</tr>
												<% } %>
											</tbody>
											<tfoot>
												<tr>
													<th>#</th>
													<th>Party Name</th>
													<th>Invoice Date</th>
													<th>Action</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--**********************************
              Content body end
          ***********************************-->
			<%- include('../partials/footer'); %>
		</div>
		<!--**********************************
          Main wrapper end
      ***********************************-->
		<%- include('../partials/scripts'); %>
		<script>
			var minDate, maxDate;

			$().ready(function () {
				// Create date inputs
				const current_month = $("#current_month")
					.text()
					.trim()
					.split(" ");

				// months array of 3 letters months name
				const months = {
					Jan: "01",
					Feb: "02",
					Mar: "03",
					Apr: "04",
					May: "05",
					Jun: "06",
					Jul: "07",
					Aug: "08",
					Sep: "09",
					Oct: "10",
					Nov: "11",
					Dec: "12",
				};
				// last day of all months
				const last_day = {
					1: 31,
					2: 29,
					3: 31,
					4: 30,
					5: 31,
					6: 30,
					7: 31,
					8: 31,
					9: 30,
					10: 31,
					11: 30,
					12: 31,
				};
				minDate = $("#min");
				maxDate = $("#max");
				let today = new Date();
				today.setDate(today.getDate() + 1);
				let mm = months[current_month[0]];
				let yyyy = current_month[1];
				let curr_month = today.getMonth() + 1; //January is 0 so need to add 1 to make it 1!
				let dd;
				if (curr_month == mm && yyyy == today.getFullYear()) {
					dd = today.getDate();
				} else {
					dd = last_day[parseInt(mm)];
					// check for leap year and february
					if (!(mm == "02" && yyyy % 4 == 0)) {
						dd--;
					}
				}
				today = yyyy + "-" + mm + "-";
				// console.log(dd);

				minDate.val(today + "01");
				minDate.attr({ min: today + "01" });
				minDate.attr({ max: today + dd });

				maxDate.val(today + dd);
				maxDate.attr({ min: today + "01" });
				maxDate.attr({ max: today + dd });
				// DataTables initialisation
				let table = $("#example").DataTable();

				// Refilter the table
				$("#min, #max").on("change", function () {
					table.draw();
				});
			});
			// Custom filtering function which will search data in column four between two values
			$.fn.dataTable.ext.search.push(function (
				settings,
				data,
				dataIndex
			) {
				var min = new Date(minDate.val());
				var max = new Date(maxDate.val());
				var date = new Date(data[2]);

				// console.log(min, max, date);

				if (
					(min === null && max === null) ||
					(min === null && date <= max) ||
					(min <= date && max === null) ||
					(min <= date && date <= max)
				) {
					return true;
				}
				return false;
			});
			// $("#example").DataTable();
		</script>
		<% if(locals.result) { %>
		<script>
			swal("<%= result.message %>", "", "<%= result.status %>");
		</script>
		<% } %>
	</body>
</html>
