<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Invoices - Kisbis Food Industry</title>
		<%- include('../partials/css'); %>
	</head>

	<body>
		<%- include('../partials/preloaded'); %>

		<!--**********************************
        Main wrapper start
    ***********************************-->
		<div id="main-wrapper">
			<%- include('../partials/header'); %> <%-
			include('../partials/sidebar'); %>

			<!--**********************************
            Content body start
        ***********************************-->
			<div class="content-body">
				<div class="container-fluid">
					<div class="row page-titles mx-0">
						<div class="col-sm-6 p-md-0">
							<div class="welcome-text">
								<h4>Invoices</h4>
							</div>
						</div>
					</div>
					<!-- row -->

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<table
											border="0"
											cellspacing="5"
											cellpadding="5"
											width="100%"
											style="text-align: center"
										>
											<tbody>
												<tr>
													<td>
														Start date:
														<input
															type="date"
															id="min"
															name="min"
														/>
													</td>
													<td>
														End date:
														<input
															type="date"
															id="max"
															name="max"
														/>
													</td>
												</tr>
											</tbody>
										</table>
										<br />
										<br />
										<table
											id="example"
											class="display"
											style="width: 100%"
										>
											<thead>
												<tr>
													<th>#</th>
													<th>Party Name</th>
													<th>Invoice Date</th>
													<th>Invoice Total</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<% for(var i=0; i <
												invoice.length;i++) { %>
												<tr>
													<td><%= i + 1 %></td>
													<td>
														<%=
														invoice[i].party_name %>
													</td>
													<td>
														<%= new
														Date(invoice[i].order_date).toLocaleString()
														%>
													</td>
													<td>
														<%= invoice[i].total %>
													</td>
													<td>
														<span>
															<a
																href="/invoice/edit/<%= invoice[i]._id %>"
																class="mr-4"
																data-toggle="tooltip"
																data-placement="top"
																title="Edit"
																><i
																	class="
																		fa
																		fa-pencil
																		color-muted
																	"
																></i>
															</a>
															<a
																href="/invoice/delete/<%= invoice[i]._id %>"
																data-toggle="tooltip"
																data-placement="top"
																title="Make Inactive"
																><i
																	class="
																		fa
																		fa-close
																		color-danger
																	"
																></i
															></a>
															&nbsp;&nbsp;&nbsp;&nbsp;
															<!-- button for confirm to send update to party -->
															<%
															if(invoice[i].phone_number)
															{ %>
															<!-- <a
																href="/invoice/confirm/<%= invoice[i]._id %>"
															> -->
															<button
																type="button"
																class="
																	btn
																	btn-success
																	btn-sm
																"
																data-toggle="modal"
																data-target="#exampleModal<%= invoice[i]._id %>"
															>
																<i
																	class="
																		fa
																		fa-check
																	"
																></i>
																Send Bill
															</button>
															<!-- </a> -->
															<!-- Modal -->
															<div
																class="
																	modal
																	fade
																"
																id="exampleModal<%= invoice[i]._id %>"
																tabindex="-1"
																role="dialog"
																aria-labelledby="exampleModalLabel"
																aria-hidden="true"
															>
																<div
																	class="
																		modal-dialog
																	"
																	role="document"
																>
																	<div
																		class="
																			modal-content
																		"
																	>
																		<div
																			class="
																				modal-header
																			"
																		>
																			<h5
																				class="
																					modal-title
																				"
																				id="exampleModalLabel"
																			>
																				Send
																				Bill
																			</h5>
																			<button
																				type="button"
																				class="
																					close
																				"
																				data-dismiss="modal"
																				aria-label="Close"
																			>
																				<span
																					aria-hidden="true"
																					>&times;</span
																				>
																			</button>
																		</div>
																		<form
																			action="/invoice/confirm/<%= invoice[i]._id %>"
																			method="POST"
																		>
																			<div
																				class="
																					modal-body
																				"
																			>
																				<div
																					class="
																						form-group
																					"
																				>
																					<label>
																						Company
																						Name
																					</label>

																					<input
																						type="text"
																						class="
																							form-control
																						"
																						placeholder="Enter Name"
																						name="company_name"
																						value="Kisbis Food Industries"
																						required
																					/>
																				</div>
																				<div
																					class="
																						form-group
																					"
																				>
																					<label>
																						Invoice
																						No.
																					</label>

																					<input
																						type="text"
																						class="
																							form-control
																						"
																						placeholder="Enter Invoice Number"
																						name="invoice_no"
																					/>
																				</div>
																			</div>
																			<div
																				class="
																					modal-footer
																				"
																			>
																				<button
																					type="button"
																					class="
																						btn
																						btn-secondary
																					"
																					data-dismiss="modal"
																				>
																					Close
																				</button>
																				<button
																					type="submit"
																					class="
																						btn
																						btn-primary
																					"
																					autofocus
																				>
																					Submit
																				</button>
																			</div>
																		</form>
																	</div>
																</div>
															</div>
															<% } %>
														</span>
													</td>
												</tr>
												<% } %>
											</tbody>
											<tfoot>
												<tr>
													<th>#</th>
													<th>Party Name</th>
													<th>Invoice Date</th>
													<th>Invoice Total</th>
													<th>Action</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--**********************************
              Content body end
          ***********************************-->
			<%- include('../partials/footer'); %>
		</div>
		<!--**********************************
          Main wrapper end
      ***********************************-->
		<%- include('../partials/scripts'); %>
		<script>
			var minDate, maxDate;

			$().ready(function () {
				// Create date inputs
				const current_month = $("#current_month")
					.text()
					.trim()
					.split(" ");

				// months array of 3 letters months name
				const months = {
					Jan: { m: "01", ld: 31 },
					Feb: { m: "02", ld: 29 },
					Mar: { m: "03", ld: 31 },
					Apr: { m: "04", ld: 30 },
					May: { m: "05", ld: 31 },
					Jun: { m: "06", ld: 30 },
					Jul: { m: "07", ld: 31 },
					Aug: { m: "08", ld: 31 },
					Sep: { m: "09", ld: 30 },
					Oct: { m: "10", ld: 31 },
					Nov: { m: "11", ld: 30 },
					Dec: { m: "12", ld: 31 },
				};
				// last day of all months
				minDate = $("#min");
				maxDate = $("#max");
				let today = new Date();
				// today.setDate(today.getDate() + 1);
				let mm = months[current_month[0]].m;
				let yyyy = current_month[1];
				let curr_month = today.getMonth() + 1;
				let dd;
				if (curr_month == mm && yyyy == today.getFullYear()) {
					dd = today.getDate();
				} else {
					dd = months[current_month[0]].ld;
					// check for leap year and february
					if (mm == "02" && yyyy % 4 == 0) dd--;
				}
				today = yyyy + "-" + mm + "-";
				// console.log(today);
				// console.log(dd);

				minDate.val(today + "01");
				minDate.attr({ min: today + "01" });
				minDate.attr({ max: today + dd });

				maxDate.val(today + dd);
				maxDate.attr({ min: today + "01" });
				maxDate.attr({ max: today + dd });
				// DataTables initialisation
				let table = $("#example").DataTable();

				// Refilter the table
				$("#min, #max").on("change", function () {
					table.draw();
				});
			});
			// Custom filtering function which will search data in column four between two values
			$.fn.dataTable.ext.search.push(function (
				settings,
				data,
				dataIndex
			) {
				const dateArr = data[2].split(",")[0].split("/");
				const min = new Date(minDate.val());
				const max = new Date(maxDate.val());
				const date = new Date(
					`${dateArr[1]}-${dateArr[0]}-${dateArr[2]}`
				);

				// console.log(min, max, date);

				if (
					(min === null && max === null) ||
					(min === null && date <= max) ||
					(min <= date && max === null) ||
					(min <= date && date <= max)
				) {
					return true;
				}
				return false;
			});
			// $("#example").DataTable();
		</script>
		<% if(locals.result) { %>
		<script>
			swal("<%= result.message %>", "", "<%= result.status %>");
		</script>
		<% if(result.message.includes("didn't")) { %>
		<script>
			window.open("/invoices/<%= result.file_path %>");
		</script>
		<% } %> <% } %>
	</body>
</html>
